.mainWrapper {
  margin: 0 auto;
  display: grid;
  width: 100%;
  max-width: 1300px;
  min-width: 600px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* background-color: aquamarine; */
}

.Body {
  height: 300px;
  background-color: pink;
  grid-column: 2 / 4;
  /* grid-column-start: 2; */
  /* grid-column-end: 4; */
  grid-row: 2 / 2;
}

.Header {
  background-color: lightblue;
  height: 100px;
  grid-column: 2 / 4;
  grid-row: 1 / 1;
}

.Aside {
  background-color: papayawhip;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}